@import '../../styles/shared.scss';

.filter {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}
.input {
  display: inline-block;
  padding: 2px 5px;
  max-width: 250px;
  outline: none;
  border: 1px solid var(--main-border-color);
  border-radius: 5px;
  &:focus {
    border: 1px solid var(--second-border-color);
    box-shadow: 0 0 3px 0 var(--second-border-color) inset,
      0 0 3px 3px var(--second-border-color);
  }
}
